################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeesManagementSystem/bin/Debug/net8.0
/EmployeesManagementSystem/obj/Debug/net8.0
